
 @font-face {
font-family: MyFont;
src: url("../assets/fonts/breeserif-regular-webfont.ttf");
}

page-login { 

 ion-header {
        background: #010100;
        font-family: 'MyFont' !important;

        }



    .login-content {
      background-image: url("./../../assets/imgs/fondonutrisel.jpg");
      background-position: top center;
      background-size: cover;
      /*background: #66B563;*/



      
   
      .logo-row {
        padding-top: 40px;
        padding-bottom: 40px;
      }
   
      .login-box {
        background: #399F8B;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }

      ion-title {
           padding-left: 200px !important;
        }

      ion-row {
         align-items: center;
         text-align: center;
       }

       ion-nav {

       }
   
       ion-item {
           border-radius: 5px !important;
           padding-left: 20px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 0px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }
   
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }
   
       .submit-btn {
         background: #BCC930;
         border-radius: 5px !important;
         border: 1px solid #8FA227;
         font-family: 'MyFont' !important;
       }
   
       .register-btn {
         color: #ffffff;
         font-size: 0.9em;
       }
    }
   
  }
